@import url('httpss://fonts.googleapis.com/css?family=Roboto');
*{
   font-family: 'Open Sans', sans-serif ;
   text-transform: capitalize;
   
}

/*body*/


body{
 
  font-family: sans-serif;
  position: relative;
 
}

#webpage{

    width: 65%;
    margin: auto;
    padding: 25px;
    width:750;
    height:auto;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(251, 251, 251);   
}

img{
  width: 80%;
  height: 600px;
}
.heading{
  color:#012A4A;
  font-family: sans-serif ;
  text-align: center;
  font-size: 40px;
  font-weight: 500%;
}
.sub-heading{
  color:#05030a;
  font-family: 'Roboto Mono', monospace;
  text-align: center;

}

.policy-body{
  font-family: sans-serif ;
  text-align: left;
 
}

p{
   color:#012A4A ;
   font-size: 17px;
   
}

h2{
   font-size: 20px;
   font-weight: 200%;
}
.footer-img{
  height: 500px;
  width: 90%;
  
}